@import "tailwindcss";

@theme {
  --color-primary: #e11d48; /* Red-600 */
  --color-secondary: #0f172a; /* Slate-900 */
  --color-accent: #16a34a; /* Green-600 */
  --color-brand-blue: #2563eb; /* Blue-600 */
  
  --font-sans: var(--font-inter);
}

:root {
  --background: #ffffff;
  --foreground: #1e293b;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
